<div class="container">
  <div class="row">
    <div class="col">
      <div class="create-submit-form">
        <h3>Search similar Routes</h3>
        <div class="form-group">
          <label for="location">Start location</label>
          <input
            type="text"
            class="form-control"
            id="location"
            required
            [(ngModel)]="ubicacionSalida"
            name="location"
          />
        </div>
        <div class="form-group">
          <label for="stars">Finish location</label>
          <input
            type="text"
            class="form-control"
            id="stars"
            required
            [(ngModel)]="ubicacionLlegada"
            name="stars"
          />
        </div>
        <button (click)="retrieveRutas()" class="btn btn-success">
          Search
        </button>
        <br />
      </div>
    </div>
    <br />
    <div class="col-6">
      <h3>Similar Routes List</h3>
      <div class="divScroll">
        <div class="routes-list" *ngFor="let ruta of rutas">
          <button
            type="button"
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <div class="routes_line">
              {{ ruta.ubicacionSalida }} - {{ ruta.ubicacionLlegada }} - ID:
              {{ ruta.idRuta }}
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
