.create-submit-form {
  max-width: 400px;
  margin: auto;
}
.form-group {
  width: 70%;
}

.parking-list {
  margin-bottom: 10px;
}

.parking-detail {
  margin-left: 40px;
  margin-top: 20vh;
}

.divScroll {
  overflow-y:scroll;
  height:300px;
}
