<div>


    <div *ngIf="viewMode == true" class="col">
        <div *ngIf="currentParking.id" class="currentParking">
            <h4>Parking</h4> 
            <div>
                <label><strong>Ubicacion:</strong></label> {{currentParking.ubicacion}}
            </div>
            <div>
                <label><strong>Calificacion:</strong></label> {{currentParking.stars}}
            </div>
            <div *ngIf="currentParking.isFull==1">
                <label><strong>Disponibilidad:</strong></label> {{"Lleno"}}
            </div>
            <div *ngIf="currentParking.isFull!=1">
                <label><strong>Disponibilidad:</strong></label> {{"Disponible"}}
            </div>
            <button type="button" (click)="getRating(currentParking.id)" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal" data-backdrop="true">Calificaciones</button>
        </div>
    </div>
</div>


<div *ngIf="viewMode2">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="model-title" id="modal-basic-title">Calificaciones</h4>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                        <div *ngFor="let _rating of ratings; let i = index">
                            <div>
                                <label><strong>Calificacion #</strong></label> {{i+1}}
                            </div> 
                            <div>
                                <label><strong>Estrellas:</strong></label> {{_rating.stars}}
                            </div>
                            <div>
                                <label><strong>Descripcion:</strong></label> {{_rating.descripcion}}
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" (click)="navigate()" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal2" data-backdrop="true">¡Calificar!</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="model-title" id="modal-basic-title">Submit Calificacion</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="navigate()">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="!submitted">
                    <div class="form-group">
                      <label for="stars">Calificacion</label>
                      <input
                        type="number"
                        class="form-control"
                        id="stars"
                        required    
                        [(ngModel)]="rating.stars"
                        name="stars"
                      />
                    </div>
                    <div class="form-group">
                      <label for="descripcion">Descripcion</label>
                      <input
                        type="text"
                        class="form-control"
                        id="descripcion"
                        required
                        [(ngModel)]="rating.descripcion"
                        name="descripcion"
                      />
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="saveRating()" class="btn btn-info btn-md" data-dismiss="modal">
                    Create
                  </button>
            </div>
        </div>
    </div>
</div>
<div>

</div>

<ng-template #editable>
    <label><strong>No hay Calificaciones...</strong></label>
</ng-template>