<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Lista de ciclovias</h3>

      <div>
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>

      <ul class="list-group">
        <li 
          class="list-group-item" 
          *ngFor="
          let bikelane of bikelanes 
            | paginate 
            :{
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: count
            };
          let i = index
          "
          [class.active]="i == currentIndex"
          (click)="SetActiveBikelane(bikelane, i)"
        >
        {{bikelane.nombreCiclovia}}
      </li>
      </ul>


    </div>
    <br>
    <div *ngIf="!bikelane_selected">
      <h5 style="color:goldenrod"><b>No bikelane was selected!</b></h5>
    </div>
    <div class="bikelane-detail">
      <app-ciclovia-details [viewMode]="true" 
      [currentBikelane]="currentBikelane" [averageStars]="averageStars">
      </app-ciclovia-details>
    </div>
  </div>

  <div class ="row">
    <div class="col-6">
      <div class="create-submit-form">
        <h3>Submit Bikelane</h3>
        <div *ngIf="!submitted">
          <div class="form-group">
            <label for="name">Bikelane name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="bikelane.nombreCiclovia"
              name="name"
            />
          </div>
          <button (click)="saveBikelane()" class="btn btn-success">
            Create
          </button>
        </div>
        <br>
        <div *ngIf="submitted">
          <h5 style="color: green">Bikelane "{{bikelane.nombreCiclovia}}" created!</h5>
          <button class="btn btn-primary" (click)="newBikelane()">
            Back
          </button>
        </div>
        <div *ngIf="error">
          <h5 style="color: red">{{error_msg}}</h5>
        </div>
      </div>
    </div>
  </div>

</div>