<div class="container">
  <div class="row">
    <div class="col">
      <div class="create-submit-form">
        <div *ngIf="!logInSubmitted">
          <h3>Log In</h3>
          <br>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              required
              [(ngModel)]="usuario.email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              style = "-webkit-text-security: square;"
              class="form-control"
              id="password"
              required
              [(ngModel)]="usuario.password"
              name="password"
            />
          </div>
          <br>
          <button (click)="logInUsuario(usuario.email, usuario.password)" class="btn btn-success">
            Log In
          </button>
        </div>
        <div *ngIf="logInSubmitted">
          <h3>Welcome, {{usuario.username}}!</h3>
          <img src={{usuario.imageurl}} style="width:200px;height:200px;">
          <br />
          <br />
          <button class="btn btn-primary" (click)="retrieveRutas()">
            Show Routes
          </button>
          <br>
          <br>
          <button class="btn btn-primary" (click)="newUsuario()">
            Log Off
          </button>
        </div>
        <div *ngIf="error">
          <h5 style="color: red">{{error_msg}}</h5>
        </div>
      </div>

    </div>
    <br>
    <div class = "col-8">
      <br>
      <div *ngIf="showRutas">
        <div class="usuario-list">
          <h3>Route List</h3>
        </div>
        <div class="usuario-list" *ngFor="let ruta of rutas">
          <button type="button" class="list-group-item list-group-item-action" aria-current="true">
            <div class="ruta_line">
              {{ruta.ubicacionSalida}} - {{ruta.ubicacionLlegada}}
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
=======
<div class="container">
  <div class="row">
    <div class="col">
      <div class="create-submit-form">
        <div *ngIf="!logInSubmitted">
          <h3>Log In</h3>
          <br>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              required
              [(ngModel)]="usuario.email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              style = "-webkit-text-security: square;"
              class="form-control"
              id="password"
              required
              [(ngModel)]="usuario.password"
              name="password"
            />
          </div>
          <br>
          <button (click)="logInUsuario(usuario.email, usuario.password)" class="btn btn-success">
            Log In
          </button>
        </div>
        <div *ngIf="logInSubmitted">
          <h3>Welcome, {{usuario.username}}!</h3>
          <img src={{usuario.imageurl}} style="width:200px;height:200px;">
          <br />
          <br />
          <button class="btn btn-primary" (click)="retrieveRutas()">
            Show Routes
          </button>
          <br>
          <br>
          <button class="btn btn-primary" (click)="newUsuario()">
            Log Off
          </button>
        </div>
        <div *ngIf="error">
          <h5 style="color: red">{{error_msg}}</h5>
        </div>
      </div>

    </div>
    <br>
    <div class = "col-8">
      <br>
      <div *ngIf="showRutas && !rutaSelected">
        <div class="usuario-list">
          <h3>Route List</h3>
        </div>
        <div class="usuario-list" *ngFor="let ruta of rutas">
          <button 
            type="button" 
            class="list-group-item list-group-item-action" 
            aria-current="true"
            (click)="retrieveCiclovias(ruta)"
          >
            <div class="ruta_line">
              {{ruta.ubicacionSalida}} - {{ruta.ubicacionLlegada}}
            </div>
          </button>
        </div>
      </div>
      <div *ngIf="rutaSelected">
        <div class="usuario-list">
          <h3>{{ruta.ubicacionSalida}} - {{ruta.ubicacionLlegada}}</h3>
        </div>
        <div class="ruta-list" *ngFor="let ciclovia of rutaxCiclovias; let i = index">
          <button
            type="button"
            class="list-group-item list-group-item-action"
            aria-current="true"
          >
            <div class="ciclovia_line">
              Ciclovia #{{i+1}}: {{ ciclovia.tiempoRealizado }} minutos
            </div>
          </button>
        </div>
        <br>
        <div>
          La cantidad de calorias quemadas fue de {{calorias}} Cal
        </div>
        <br>
        <button class="btn btn-primary" (click)="retrieveCiclovias(ruta)">
          Back
        </button>
      </div>
    </div>

  </div>
</div>
    