<div>
    <div *ngIf="viewMode == true" class="col">
        <div *ngIf="currentBikelane.idCiclovia" class="currentBikelane">
            <h3>Bikelane Details</h3>
            <div><b>Name:</b> {{currentBikelane.nombreCiclovia}}</div>
            <div><b>Id:</b> {{currentBikelane.idCiclovia}}</div>
            <div><b>Stars:</b> {{averageStars.toFixed(1)| number}}</div>
            <br>
            <button type="button" 
            (click)="getRating((currentBikelane.idCiclovia))" 
            class="btn btn-info btn-md" 
            data-toggle="modal" 
            data-target="#myModal" 
            data-backdrop="true">
                Califications
            </button>
            <button type="button" 
            (click)="getReports((currentBikelane.idCiclovia))" 
            class="btn btn-info btn-md" 
            data-toggle="modal" 
            data-target="#myModalReport" 
            data-backdrop="true">
                Reports
            </button>
        </div>
    </div>
</div>


<div *ngIf="viewMode2">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="model-title" id="modal-basic-title">Calificaciones</h4>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="divScroll">
                        <div class="divScrollChild">
                            <div *ngIf="lengthCheck(ratings); else editable">
                                <div *ngFor="let _rating of ratings; let i = index">
                                    <div>
                                        <label><strong>Calificacion #</strong></label> {{i+1}}
                                    </div> 
                                    <div>
                                        <label><strong>Estrellas:</strong></label> {{_rating.estrellasCalificacion}}
                                    </div>
                                    <div>
                                        <label><strong>Descripcion:</strong></label> {{_rating.descripcionCalificacion}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                    (click)="navigate()"
                    class="btn btn-info btn-md" data-toggle="modal"
                    data-target="#myModal2" data-backdrop="true">
                        ¡Calificar!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #editable class="divScroll">
        <div class="divScrollChild">
            <label>Parece que aún no hay Calificaciones...</label>
        </div>
    </ng-template>
</div>

<div *ngIf="viewMode3">
    <!-- Modal -->
    <div class="modal fade" id="myModalReport" role="dialog">
        <div class="modal-dialog">
            
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="model-title" id="modal-basic-title">Reportes</h4>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="divScroll">
                        <div class="divScrollChild">
                            <div *ngIf="lengthCheck(reports); else editable">
                                <div *ngFor="let _report of reports; let i = index">
                                    <div>
                                        <label><strong>Reporte #</strong></label> {{i+1}}
                                    </div> 
                                    <div>
                                        <label><strong>Usuario Id:</strong></label> {{_report.idUser}}
                                    </div>
                                    <div>
                                        <label><strong>Descripcion:</strong></label> {{_report.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                    (click)="navigateReport()"
                    class="btn btn-info btn-md" data-toggle="modal"
                    data-target="#myModal3" data-backdrop="true">
                        ¡Reportar!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #editable class="divScroll">
        <div class="divScrollChild">
            <label>Parece que aún no hay Reportes...</label>
        </div>
    </ng-template>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="model-title" id="modal-basic-title">Submit Calificacion</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="navigate()">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="!submitted">
                    <div class="form-group">
                      <label for="stars">Calificacion</label>
                      <input
                        type="number"
                        class="form-control"
                        id="stars"
                        required    
                        [(ngModel)]="rating.estrellasCalificacion"
                        name="stars"
                      />
                    </div>
                    <div class="form-group">
                      <label for="descripcion">Descripcion</label>
                      <input
                        type="text"
                        class="form-control"
                        id="descripcion"
                        [(ngModel)]="rating.descripcionCalificacion"
                        name="descripcion"
                      />
                    </div>
                    <div *ngIf="error">
                        <h5 style="color: red">{{error_msg}}</h5>
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="saveRating()" class="btn btn-primary">
                    Create Calification
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Reports-->
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="model-title" id="modal-basic-title">Submit Report</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="navigateReport()">&times;</button>
            </div>
            <div class="modal-body">
                <div *ngIf="!submitted">
                    <div class="form-group">
                      <label for="idUser">Id User</label>
                      <input
                        type="number"
                        class="form-control"
                        id="idUser"
                        required    
                        [(ngModel)]="report.idUser"
                        name="idUser"
                      />
                    </div>
                    <div class="form-group">
                      <label for="descripcion">Descripcion</label>
                      <input
                        type="text"
                        class="form-control"
                        id="descripcion"
                        [(ngModel)]="report.description"
                        name="descripcion"
                      />
                    </div>
                    <div *ngIf="error">
                        <h5 style="color: red">{{error_msg}}</h5>
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="saveReport()" class="btn btn-primary">
                    Create Report
                </button>
            </div>
        </div>
    </div>
</div>